<!DOCTYPE html>
<html  ng-app="myApp" >
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<script src="./lib/angular.min.js"></script>
<script src="app.js"></script>

<title>Ho jaa bhai</title>
</head>
<body>
<div> 
      <!-- header -->
    <nav class="navbar navbar-light bg-danger">
		<span class="navbar-brand mb-0 h1">English Quotes</span>
	</nav>
	<br>
    <!-- header  ends-->
    <!-- a simple alert -->
    <div class="alert alert-success" role="alert">
	  Want to know number of cases,<a href="https://abhishek240120.github.io/Coursera/corona">click here</a>
	</div>
    <!--alert ends here-->

	<!--jumbotron--> 
	<div class="jumbotron">
	  <h1 class="display-4">Hello</h1>
	  <p class="lead">This is a simple website for exploring thoughts.</p>
	  <hr class="my-4">
	  <p>Not signed up yet...</p>
	  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signupModal">
		  SignUp
		</button>
	</div>
	<!-- jumbotron ends -->
	<!-- modal for signup -->
	<!-- modal for signup ends here -->
	<!-- login -->
	<form class="container" ng-controller="MyCtrl as ctrl">
	  <div class="form-group">
	    <label for="usernameInput">Username</label>
	    <input  class="form-control" id="usernameInput" ng-model="ctrl.username">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Password</label>
	    <input type="password" class="form-control" id="exampleInputPassword1" ng-model="ctrl.password">
	  </div>
	  <button ng-click="ctrl.login()" class="btn btn-primary">Login</button>
	  {{ctrl.myWelcome}}
	</form>
	<!-- login -->
	<br><br>
	<!-- signup-->
	<!-- <form class="container" ng-controller="MyCtrl as ctrl">
	  <div class="form-group">
	    <label for="usernameInput">Username</label>
	    <input  class="form-control" id="usernameInput" ng-model="ctrl.username">
	    {{ctrl.username}}
	    <br>
	  </div>
	  <div class="form-group">
	    <label for="nameInput">Name</label>
	    <input  class="form-control" id="usernameInput" ng-model="ctrl.name">
	    {{ctrl.name}}
	    <br>
	  </div>
	  <div class="form-group">
	    <label for="cityInput">City</label>
	    <input  class="form-control" id="usernameInput" ng-model="ctrl.city">
	    {{ctrl.city}}
	    <br>
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Password</label>
	    <input type="password" class="form-control" id="exampleInputPassword1" ng-model="ctrl.password">
	  </div>
	  <button ng-click="ctrl.signup()" class="btn btn-primary">Signup</button>
	  {{ctrl.myWelcome}}
	</form> -->

	<!-- modal -->
   
<p>Today's welcome message is: given below</p>


<h1>Yes you can do it</h1>
  
</div>

<p>The $http service requests a page on the server, and the response is set as the value of the "myWelcome" variable.</p>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Signup</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="container" ng-controller="MyCtrl as ctrl">
		  <div class="form-group">
		    <label for="usernameInput">Username</label>
		    <input  class="form-control" id="usernameInput" ng-model="ctrl.username">
		    {{ctrl.username}}
		    <br>
		  </div>
		  <div class="form-group">
		    <label for="nameInput">Name</label>
		    <input  class="form-control" id="usernameInput" ng-model="ctrl.name">
		    {{ctrl.name}}
		    <br>
		  </div>
		  <div class="form-group">
		    <label for="cityInput">City</label>
		    <input  class="form-control" id="usernameInput" ng-model="ctrl.city">
		    {{ctrl.city}}
		    <br>
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Password</label>
		    <input type="password" class="form-control" id="exampleInputPassword1" ng-model="ctrl.password">
		  </div>
		  <button ng-click="ctrl.signup()" class="btn btn-primary">Signup</button>
		  {{ctrl.myWelcome}}
		</form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Signup</button>
      </div>
    </div>
  </div>
</div>
</body>





</html>
