a{
	text-decoration: none;
	
}
a:hover{
	font-style: italic;
	color: blue;
}
li{
	font-size: 30px;
}
li > a{
 color:black;	
 text-decoration: none;
 font-size: 30px;
}

li > a:hover{
border-color: black;
 color:orange;	
 font-weight: bold;
}
