<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <script src="angular.min.js"></script>
  <script src="app.js"></script>

<body>
  <div ng-controller="NarrowItDownController as controller">
   <div class="container"  >
    <h1>Narrow Down Your Chinese Menu Choice</h1>
    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="controller.input">
    </div>
    <div class="form-group narrow-button" >
      <button class="btn btn-primary" ng-click="controller.showMenuItem();">Narrow It Down For Me!</button>
    </div>
  </div>
  <div>
      <found-items found-list="controller.found" on-remove="controller.removeItem(index)"></found-items>
  </div>
  <div ng-if="controller.notfound" align="center" style="font-weight: bold;font-style: italic;color: red;">
      Nothing found
  </div>
</div>
</body>
</html>
