 <ul>
        <li ng-repeat="category in foundList">
        	<span style="font-weight: bold;color: red;">ITEM NO. {{$index+1}}</span>
        	<ul>
        		<li><span style="font-weight: bold;">NAME:  </span>{{ category.name}}</li>
        		<li><span style="font-weight: bold;">SHORT_NAME:  </span>{{category.short_name}}</li>
  				<li><span style="font-weight: bold;">DESCRIPTION:  </span>{{category.description}}</li>
  			</ul>
           <button ng-click="onRemove({index: $index});">Remove Item</button>
        </li>
</ul> 