#heading{
	color: red;
}
#subheading{
	color: skyblue;
}
#tableHeading{
}
#tableHeading div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: yellow;
}

#tableEntry1 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry2 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry1 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry3 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry4 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry1 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry5 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}

#tableEntry1 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry6 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry1 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry1 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry7 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry8 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry9 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}

#tableEntry10 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry11 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry1 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry12 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry13 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry1 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry14 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}

#tableEntry1 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry15 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry1 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry16 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry1 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry17 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry1 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}

#tableEntry18 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry19 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry20 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry21 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry22 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry23 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry24 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry25 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry26 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry27 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}
#tableEntry28 div{
	font-weight:bold;
	padding: 3px;
	border: 1px solid black;
	background-color: skyblue;
   height:60px;

}

