

.list{
	margin:20px;
}

.state{

	height:150px;
	padding: 2px;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 5px 10px;
	margin: 20px;
}
.state > a{
	font-weight: bold;
}
.panel-footer{
	font-style: italic;
	font-size:20px;
	color: black;
}