<!doctype html>
<html lang="en" ng-app="CoronaQuiz">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   <!-- angular -->
     <script src="lib/angular.min.js"></script>
    <script src="src/app.js"></script>
    <style>
      .navbar-text{
        font-weight: bold;
        color: white;
      }
      .nav-item:hover{
        font-weight: bold;
      }
      .dropdown-item:hover{
        background-color: green;
        color: white;
      }
      .nav-item:active{
        background-color: green;
        color: white;
      }
      #homepage-frontpic{
        height: 550px;
        width: 549px;
      }
      #submitButton {
        margin-top: 45px;
      }
      #submitButton :hover{
        background-color: green;

      }
      @media(max-width: 590px){
        #homepage-frontpic{
          height: 300px;
          width: 549px;
        }
      }
    </style>

    <title>weCODE home</title>
  </head>
  <body>
         <!--  creating navbar-->       
     <nav class="navbar   navbar-expand-lg  navbar-dark bg-dark">
                <a class="navbar-brand" href="index.html">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSL-q74FKC2V29auuuhxmFxWYNbH3I_7bhdhQ&usqp=CAU" width="30" height="30" alt="" loading="lazy"><span class="mx-4 navbar-text">weCODE</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home</span> <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link" href="#">Technology</a>
                    </li>
                    <li class="nav-item dropdown ">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Languages
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">c</a>
                        <a class="dropdown-item" href="python.html">python</a>
                        <a class="dropdown-item" href="#">HTML</a>
                        <a class="dropdown-item" href="#">CSS</a>
                        <a class="dropdown-item" href="#">Javascript</a>
                      </div>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
      </nav>

     <!--  main body -->
    <div ng-controller="CoronaQuizController as ctrl">
      <div class="shadow p-3 mb-5 bg-white rounded container">
        <div align="center"><h1>How much You Know About Corona !</h1></div>
          
            <div ng-repeat="ques in ctrl.quesBank">
             <h5> {{$index+1}}. {{ques.question}}</h5><span style="color: green;font-style: italic;font-weight: bold;" ng-if="ctrl.resultofResponse[$index+1]===1"> {{ctrl.message}}</span>
              <div ng-repeat="option in ques.options">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="q+{{ques.id}}" id="q+{{ques.id}}+op+{{$index+1}}" value="{{option}}" ng-model="ctrl.response[ques.id]">
                    <label class="form-check-label" for="q+{{ques.id}}+op+{{$index+1}}">
                     {{option}}  
                    </label>
                </div>
              </div>
            </div>
            <div align="center">
              <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" ng-click="ctrl.submit();" id="submitButton"> submit</button>
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Result</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" style="font-weight: bold;">
                      you have scored {{ctrl.score}} out of 10
                     </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="ctrl.afterresult();">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
      </div>
    </div>
     <!-- footer -->

   <footer class="panel-footer  bg-dark">
    <div class="container" style="color: white;">
      <div class="row">
        <div class="col-md-4 my-3">
          <a href="#">About us</a><br>
          <a href="#">Contribute</a><br>
          <a href="#">Contact us</a><br>
        </div>
        <hr style="width:70%;text-align:left;margin-left:0;border-top: 1px solid white" class=" d-block d-sm-none">
        <div class="col-md-4 my-3">
          Address:
          Laheriasarai<br>
          Darbhanga 846001<br>
          Bihar, India<br>
        </div>
        <hr style="width:70%;text-align:left;margin-left:0;border-top: 1px solid white" class=" d-block d-sm-none">
        <div class="col-md-4 my-3" style="font-style: italic;">
         “It’s harder to read code than to write it.” <br>— Joel Spolsky
        </div> 
      </div>
      <br>
      <div align="center">
        weCODE cpoyright &copy 2020 
      </div>
    </div> 
    <br>
   </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>